header .nav a:nth-child(4){
	color:#b20000;
}
/*头部结束*/
/*头部结束*/
.banner{
	height: 754px;
	position: relative;
}

.banner ul>li>a{
	background: url(../images/s-banner_02.png) no-repeat;
	display: block;
	height: 754px;
}
.banner .black{
	width: 100%;
	height: 754px;
	background: rgba(0,0,0,.3);
	position: absolute;
	top:0;
	left: 0;
}
.banner .logo{
	width: 145px;
	height: 240px;
	position: absolute;
	top:-80px;
	left: 327px;
}
.banner .logo h1{
	height: 240px;
	text-indent: -999px;
	overflow: hidden;
	position: relative;
}
.banner .logo h1 a{
	display: inline-block;
	background: url(../images/logo_02.png) no-repeat;
	width: 145px;
	height: 240px;
	position: absolute;
	top:0;
	left: 0;
}
.banner .l_go{
	width: 70px;
	height: 70px;
	line-height: 70px;
	background: rgba(0,0,0,.4);
	border-radius: 50%;
	position: absolute;
	top:280px;

	left: 30px;
}
.banner .l_go a{
	width: 70px;
	height: 70px;
	display: block;
}
.banner .l_go span{
	background: url(../images/lg.png);
	width: 70px;
	height: 70px;
	display: inline-block;

}
.banner .r_go{
	width: 70px;
	height: 70px;
	line-height: 70px;
	background: rgba(0,0,0,.4);
	border-radius: 50%;
	position: absolute;
	top:280px;
	right: 30px;
}
.banner .r_go a{
	width: 70px;
	height: 70px;
	display: block;
}
.banner .r_go span{
	background: url(../images/rg.png);
	width: 70px;
	height: 70px;
	display: inline-block;

}
.banner .dian{
	position: absolute;
	bottom: 40px;
	left: 50%;
	margin-left: -46px;
}
.banner  .dian a{
   width: 12px;
   height: 12px;
   background: #fff;
   border-radius: 50%;
   display: inline-block;
}
.banner  .dian a:hover{
	background: none;
	border:2px solid #fff;
}
.banner .dian a:nth-child(2){
	background: none;
	border:2px solid #fff;
	margin:0 20px;
}
.banner .title{
    width: 644px;
    height: 164px;
    background: url(../images/s-zi_03.png);
    position: absolute;
    right: 164px;
    bottom:136px;
    color: #fff;
}
/*新鲜菜品开始*/
section.section4{
	margin-top:40px;
}
section .section-left{
    float:left;
    width: 302px;
    margin-right: 40px;
}
section .section-left .dishes{
	width: 302px;
	height: 135px;
	background: url(../images/s-b_03.png);
	padding-top: 40px;
	margin-bottom: 16px;
}
section .section-left .dishes p{
	font-size: 20px;
	color:#fff;
	text-align: center;
}
section .section-left .meat{
	width: 302px;
	height: 86px;
	background: #b20000;
	padding-top: 28px;
	margin-bottom: 16px;
}
section .section-left .meat p{
	font-size: 14px;
	color:#fff;
	text-align: center;
}
section .section-left .vegetables{
	width: 302px;
	height: 86px;
	background: #f4efe9;
	padding-top: 28px;
	margin-bottom: 16px;
}
section .section-left .vegetables p{
	color:#b20000;
	text-align: center;
	font-size: 14px;
}
section .section-left .vegetables:hover{
	background: #b20000;
}
section .section-left .vegetables:hover p{
	color:#fff;
}
section .section-left .share{
	width: 302px;
	height: 565px;
	background: url(../images/s-t_03.png);
}
section .section-right{
	float: right;
	width: 744px;
}
section .section-right p{
	line-height: 38px;
	text-indent: 2em;
}
section .section-right .look-more{
	width: 182px;
	height: 58px;
	float: right;
	margin-top: 20px;
}
section .section-right .look-more a{
	width: 182px;
	height: 58px;
	border-radius: 6px;
	display: inline-block;
	background: #b20000;
	text-align: center;
	line-height: 58px;
	color:#fff;
	font-size: 26px;
}
/*新闻动态公布栏开始*/
.news-trends{
	background: #b20000;
	width: 100%;
	height: 150px;
	margin-top:100px;
	padding:40px 130px;
}
.news-trends .news-content{
	margin:0 auto;
	height: 100%;
}
.news-trends .news-content .news-left{
	float: left;
	width: 1090px;
}
.news-trends .news-content .news-left ul{
	overflow: hidden;
}
.news-trends .news-content .news-left ul li{
	float: left;
	width: 590px;
}
.news-trends .news-content .news-left ul li:nth-child(2n){
	width: 500px;
}
.news-trends .news-content .news-left ul li a{
	font-size: 20px;
	color:#fff;
	line-height: 35px;
	font-family: "微软雅黑";
	display: inline-block;
	position: relative;
	padding-left: 20px;
}
.news-trends .news-content .news-left ul li a:before{
	content:"";
	width:10px;
	height: 10px;
	background: #fff;
	border-radius: 50%;
    position: absolute;
    top:12px;
    left: 0;
}

.news-trends .news-content .news-right{
	float: right;
}
.news-trends .news-content .news-right .search{
	width: 510px;
	height: 50px;
}
.news-trends .news-content .news-right .search input{
	width: 400px;
	height: 50px;
	border: 1px solid #fff;
	background: #b20000;
	float:left;
	padding-left: 20px;
	outline: none;
}
.news-trends .news-content .news-right .search .glass{
	float: right;
	height: 50px;
	width: 100px;
	background: #fff;
}
.news-trends .news-content .news-right .search .glass span{
	width: 30px;
	height: 30px;
	margin-top:10px;
	margin-left: 35px;
	cursor: pointer;
	display: inline-block;
	background: url(../images/search.png);
}
footer{
	width: 100%;
	height: 567px;
	background: url(../images/m-banner_22.png);
	margin-top:50px;
	cursor: pointer;
}